body{
    height: 95vh;
    width: 95;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(82, 82, 83);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 231);
}